.cart {
  text-align: center;
  border-collapse: collapse; }

.table-header__item {
  text-transform: uppercase;
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  border-bottom: 1px solid #eaeaea; }
  .table-header__item_first {
    text-align: left;
    width: 467px; }

.row__item {
  border-bottom: 1px solid #eaeaea;
  height: 164px;
  color: #656565;
  font-size: 13px;
  font-weight: 400; }
  .row__item_first {
    padding-left: 38px; }
.row__image {
  display: block;
  float: left;
  width: 100px;
  height: 115px; }
.row__close {
  width: 15px;
  height: 15px;
  border-radius: 10.5px;
  color: #c0c0c0;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transform: scale(1.2, 1.2); }
  .row__close__close:hover {
    color: #DADADA; }
.row__header {
  margin-bottom: 12px;
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 17px; }
.row__desc {
  float: left;
  text-align: left;
  padding: 8px;
  margin-left: 10px;
  color: #575757;
  font-size: 13px;
  font-weight: 400; }
.row__span {
  color: #6f6e6e;
  font-size: 13px;
  font-weight: 300; }
.row__number {
  padding-left: 22px;
  width: 54px;
  height: 30px; }

.number {
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff; }

.button {
  display: block;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase; }
  .button_clear-b {
    float: left;
    width: 235px;
    height: 50px; }
  .button_cont-shop {
    float: right;
    width: 225px;
    height: 50px; }
  .button_coupon {
    width: 118px;
    height: 35px;
    margin-top: 25px;
    border: 1px solid #eaeaea;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase; }
  .button:focus {
    outline: none; }

.purchase {
  width: 1140px;
  margin: 58px auto 0;
  padding-left: 7px; }
  .purchase__item {
    width: 360px;
    float: left;
    margin-right: 30px; }
    .purchase__item_last {
      margin-right: 0; }
  .purchase__header {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }
  .purchase__state {
    margin-top: 20px;
    display: block;
    width: 355px;
    height: 45px;
    padding-left: 20px;
    color: #b1b1b1;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    border: 1px solid #eaeaea; }
    .purchase__state_coupon {
      margin-top: 25px; }
  .purchase__number {
    width: 355px;
    height: 45px;
    margin-top: 20px;
    display: block;
    padding: 0 20px 0 20px;
    color: #b1b1b1;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box; }
  .purchase__button {
    margin-top: 25px;
    border: 1px solid #eaeaea;
    width: 100px;
    height: 35px;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase; }
  .purchase__p {
    margin-top: 22px;
    color: #000000;
    font-size: 14px;
    font-weight: 300; }

.sort_by-name {
  position: relative;
  margin-top: 21px;
  padding: 7px;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 355px;
  height: 45px;
  line-height: 26px;
  text-align: left; }

.sort_by {
  position: relative;
  left: -8px;
  display: inline-block;
  height: 28px;
  border: none;
  padding-left: 20px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  width: 355px; }
  .sort_by-name-i {
    color: #6f6e6e;
    z-index: 0;
    top: 38%;
    left: 93%;
    position: absolute;
    font-size: 14.99px;
    margin-left: 5px;
    font-weight: 400;
    line-height: 20px;
    text-align: left; }

.sort_select {
  background: transparent;
  -moz-appearance: none;
  -webkit-appearance: none; }

.sort_select:focus {
  outline: none; }

.table-buttons {
  width: 1140px;
  margin: 45px auto 0; }

.basket_cart {
  width: 1140px;
  margin: 66px auto 0;
  padding-left: 38px; }

.catalog-header {
  background-color: #f8f3f4; }
  .catalog-header__content {
    width: 1600px;
    height: 148px;
    margin: 0 auto; }

.catalog-header_name {
  width: 50%;
  float: left; }

.catalog-header_header {
  padding: 65px 0 65px 228px;
  color: #f16d7f;
  font-size: 24px;
  font-weight: 900;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase; }

.bread-crumps {
  float: left;
  width: 50%;
  text-align: right;
  padding: 69px 230px 68px 0;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase; }

.bread-crumps_link {
  color: #636363;
  text-decoration: none; }

.bread-crumps_link-current {
  display: inline-block; }

.bread-crumps_link:hover {
  color: #f16d7f; }

.bread-crumps_span {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center; }

.proceed {
  background-color: #f5f3f3;
  width: 360px;
  height: 214px;
  padding: 45px;
  box-sizing: border-box; }
  .proceed__p {
    text-align: right;
    text-transform: uppercase; }
  .proceed-prices {
    border-bottom: 1px solid #eaeaea;
    height: 64px; }
  .proceed__checkout-button {
    margin-top: 17px;
    background-color: #f16d7f;
    width: 273px;
    height: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center; }

.sub {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400; }
  .sub__span {
    margin-left: 10px; }

.grand {
  line-height: 40px;
  color: #222222;
  font-size: 16px;
  font-weight: 700; }
  .grand__span {
    margin-left: 10px;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700; }

/*# sourceMappingURL=basket.css.map */
