.catalog_header {
    background-color: #f8f3f4;
    width: 1600px;
    height: 148px;
    margin: 0 auto;
}

.section_name {
    width: 50%;
    float: left;
}

.catalog_header h1 {
    padding: 65px 0 65px 228px;
    color: #f16d7f;
    font-size: 24px; /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 20px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-transform: uppercase;
}

.bread_crumps {
    float: left;
    width: 50%;
    text-align: right;
    padding: 69px 230px 68px 0;
    box-sizing: border-box;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 20px; /* Приближение из-за подстановки шрифтов */
    text-transform: uppercase;
}

.bread_crumps a {
    color: #636363;
    text-decoration: none;
}

.bread_crumps span {
    color: #f16d7f;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 20px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.side_bar {
    margin-top: 30px;
    margin-left: 230px;
    float: left;
    width: 243px;
}

.side_bar input[type=radio]{
    display: block;
    visibility: hidden;
    height: 0;
}
.side_bar label {
    position: relative;
    display: inline-block;
    color: #ef5b70;
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;
    padding-left: 10px;
    text-align: left;
    width: 243px;
    height: 38px;
    border-left: 5px solid #ef5b70;
    border-bottom: 1px solid #ebebeb;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 20px;
    cursor: pointer;
}
input[type=radio]:checked + label > ul {
    display: block;
}
input[type=radio]:checked + label > i {
    color: #ef5b70;
    transform: rotate(180deg);
    transition: 0.2s;
}
.side_bar label:first-child {
    margin-top: 0;
}
.side_bar label i {
    position: absolute;
    left: 93%;
    top: 22%;
    color:  #6f6e6e;
    font-size: 14.99px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
.side_bar ul {
    display:none;
    height: 0;
    margin-top: 20px;
}
.side_bar li {
    display: block;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    padding-left: 1px;
}
.side_bar li a {
    display: block;
    height: 33px;
    text-decoration: none;
    color:  #6f6e6e;
}

.catalog_content {
    margin-top: 60px;
    margin-left: 48px;
    float: left;
}

.top_filter {
    height: 115px;
}

.top_filter h3 {
    margin-bottom: 15px;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    text-transform: uppercase;
}

.top_filter .filter_column {
    height: 119px;
    width: 270px;
    margin-right: 22px;
    float: left;
}

.top_filter .filter_column a {
    text-decoration: none;
    color: #6f6e6e;
}

.top_filter .filter_column:last-child {
    margin-right: 0;
}

.top_filter .filters {
    color: #6f6e6e;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 26px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.top_filter .filters span {
    padding: 0 9px;
    color: #6f6e6e;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 26px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.top_filter input[type=checkbox] {
    margin-left: 14px;
    color: #6f6e6e;
}

.top_filter .first_line input[type=checkbox]:first-child, .top_filter .second_line input[type=checkbox]:first-child  {
    margin-left: 0;
}
.top_filter input[type=checkbox]:focus {
    outline: none;
}

.regular-checkbox {
    top: 1.5px;
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 6px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}
.regular-checkbox:active, .regular-checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
.regular-checkbox:checked:after {
    content: '\2714';
    font-size: 12px;
    position: absolute;
    top: -3px;
    left: 1.5px;
    color: #99a1a7;
}
#slider-range {
    background-color:  #f0f0f0;
    width: 262px;
    height: 6px;
    margin-bottom: 15px;
    margin-top: 21px;
}

/* Контейнер слайдера */
.ui-slider {
    position: relative;
}
/* Ползунок */
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 14px;   /* Задаем нужную ширину */
    height: 14px;  /* и высоту */
    display: block;
    background: #f16d7f;
    border-radius: 14px;
    cursor: pointer
}
.ui-slider .ui-slider-handle:focus {
    outline: none;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
    height: 3px; /* задаем высоту согласно дизайна */
}
/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle {
    top: -5px;
    margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
/* оформление полосы по которой ходит ползунок */
.ui-widget-content {
    border: 1px solid #D4D4D4;
    background: #fff;
}
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header {
    border: 1px solid #D4D4D4;
    background: #f16d7f;
}
/* скругление для полосы слайдера */
.ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#lowest_price {
    display: inline-block;
    width: 50px;
}
#highest_price {
    margin-left: 175px;
}


.catalog_content .sort_filter {
    background-color: #f3f3f3;
    height: 50px;
    padding: 9px 10px;
    box-sizing: border-box;
}
.sort-filter_by-name {
    float: left;

    position: relative;
    padding-left: 13px;
    border-style: solid;
    border-width: 1px;
    border-color:  #ebebeb;
    box-sizing: border-box;
    background-color:  #ffffff;
    width: 153px;
    height: 30px;
    color:  #6f6e6e;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.sort-filter_quantity {
    position: relative;
    padding-left: 13px;
    margin-left: 10px;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 119px;
    height: 30px;
    color:  #6f6e6e;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}
#sort_by {
    display: inline-block;
    height: 28px;
    margin-left: 16px;
    border: none;
    border-left: 1px solid #ebebeb;
    padding-left: 11px;
    color:  #6f6e6e;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    padding-right: 24px;
}
#show {
    display: inline-block;
    height: 28px;
    border: none;
    margin-left: 5px;
    border-left: 1px solid #ebebeb;
    padding-left: 15px;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    padding-right: 28px;
}
.sort-filter_by-name-i, .sort-filter_quantity-i {
    color: #6f6e6e;
    top: 26%;
    position: absolute;
    font-size: 14.99px;
    margin-left: 5px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
.sort-filter_by-name-i {
    left: 87%;
}
.sort-filter_quantity-i {
    left: 80%;
}
select {
    -moz-appearance: none;
    -webkit-appearance:none;
}
select:focus {
    outline: none;
}

.catalog_content .product {
    width: 848px;
}

.product .items {
    margin-top: 60px;
}

.product .items img {
    display: block;
    width: 261px;
    height: 282px;
}

.product .row {
    margin-top: 38px;
    float: left;
}

.product .row:first-child {
    margin-top: 45px;
}

.product .row:last-child {
    margin-top: 35px;
}

.product .row > div:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);

}

.product .row > div {
    float: left;
    width: 261px;
    height: 364px;
    margin-right: 32px;
    cursor: pointer;
}

.row > div .image {
    position: absolute;
    top: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.59);
    width: 261px;
    height: 282px;
}

.row > div img {
    width: 261px;
    height: 282px;
}

.row > div {
    position: relative;
}

.row > div:hover .image {
    display: block;
}

.row > div:hover .card {
    display: block;
}

.row > div .card {
    position: absolute;
    display: block;
    top: 98px;
    left: 71px;
    width: 121px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    padding: 10px 8px 12px 42px;
    background-image: url(../images/basket.png);
    background-repeat: no-repeat;
    background-position-x: 11px;
    background-position-y: 8px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
}
.row > div .repeat {
    position: absolute;
    display: block;
    width: 56px;
    height: 35px;
    top: 146px;
    left: 71px;
    background-image: url(../images/repeat.png);
    background-repeat: no-repeat;
    background-position-x: 16px;
    background-position-y: 11px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
}
.row > div .favorite {
    position: absolute;
    display: block;
    width: 56px;
    height:35px;
    top: 146px;
    left: 136px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
}
.favorite i {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    padding: 9px 8px 12px 20px;
}

.product .row div:last-child {
    margin-right: 0;
}

.product .row .name {
    display: block;
    color: #222222;
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

.product .row .price {
    display: block;
    margin-top: 15px;
    color: #f16d7f;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: left;
}

.product .row .price_block {
    padding: 15px 15px 19px 15px;
    box-sizing: border-box;
}

.pagination_holder {
    float: left;
    margin-top: 40px;
}

.pagination {
    float: left;
    padding: 10px 12px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 261px;
    height: 44px;
}

.pagination a {
    display: inline-block;
    margin-right: 16px;
    color: #aaaaaa;
    font-size: 14.8px;
    font-weight: 400;
    line-height: 26px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-decoration: none;
}

.pagination a:first-child {
    margin-right: 13px;
}

.pagination a:last-child {
    margin-right: 0;
}

.pagination a span {
    color: #ef5b70;
    font-size: 17px; /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    line-height: 26px;
    padding-bottom: 1px;
}

.pages, .last_page {
    display: inline-block;
}

.pages a:last-child {
    margin-right: 0;
}

.last_page {
    margin-right: 12px;
}

.pagination .active {
    color: #ef5b70;
}

.pagination_holder .show_all {
    display: block;
    float: right;
    margin-left: 436px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #ef5b70;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 150px;
    height: 44px;
    color: #ef5b70;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 26px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    cursor: pointer;
}

.pagination_holder .show_all:focus {
    outline: none;
}

.features {
    margin-top: 110px;
    background-color: #222224;
    width: 1600px;
    height: 341px;
    letter-spacing: 0.5px;
}

.features .feature:first-child {
    margin-left: 254px;
}

.features .feature {
    margin-top: 89px;
    width: 309px;;
    float: left;
    margin-right: 81px;
    color: #fbfbfb;
    font-size: 13.97px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleX(1.0017);
}

.features .feature h2 {
    color: #fbfbfb;
    font-size: 19.96px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    transform: scaleX(1.0017);
    letter-spacing: 0.5px;
    margin-top: 10px;
    line-height: 44px;
}