.catalog {
    width: 1600px;
    margin: 0 auto;
}
.catalog-header {

    background-color: #f8f3f4;

}
.catalog-header__content {
    width: 1600px;
    height: 148px;
    margin: 0 auto;
}

.catalog-header_name {
    width: 50%;
    float: left;
}

.catalog-header_header {
    padding: 65px 0 65px 228px;
    color: #f16d7f;
    font-size: 24px;
    font-weight: 900;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
}

.bread-crumps {
    float: left;
    width: 50%;
    text-align: right;
    padding: 69px 230px 68px 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
}

.bread-crumps_link {
    color: #636363;
    text-decoration: none;
}
.bread-crumps_link-current {
    display: inline-block;
}
.bread-crumps_link:hover {
    color: #f16d7f;
}

.bread-crumps_span {
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}

.side-bar {
    margin-top: 30px;
    margin-left: 230px;
    float: left;
    width: 243px;
}

.side-bar_button {
    display: block;
    visibility: hidden;
    height: 0;
}
.side-bar_label {
    position: relative;
    display: inline-block;
    color: #ef5b70;
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;
    padding-left: 10px;
    text-align: left;
    width: 243px;
    height: 38px;
    border-left: 5px solid #ef5b70;
    border-bottom: 1px solid #ebebeb;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.side-bar_button:checked + .side-bar_label > .side-bar_list {
    display: block;
}
.side-bar_button:checked + .side-bar_label + .side-bar_i {
    color: #ef5b70;
    transform: rotate(180deg);
    transition: 0.2s;
}
.side-bar label:first-child {
    margin-top: 0;
}
.side-bar_i {
    position: absolute;
    left: 93%;
    top: 22%;
    color:  #6f6e6e;
    font-size: 14.99px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
.side-bar_list {
    display:none;
    height: 0;
    margin-top: 20px;
}
.side-bar_item {
    display: block;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    padding-left: 1px;
    text-decoration: none;
}
.side-bar_link {
    display: block;
    height: 33px;
    text-decoration: none;
    color:  #6f6e6e;
}
.side-bar_link:hover {
    color: #f16d7f;
}

.catalog_content {
    margin-top: 60px;
    margin-left: 48px;
    float: left;
}

.filter {
    height: 115px;
}

.filter-column_header {
    margin-bottom: 15px;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    text-transform: uppercase;
}

.filter-column {
    height: 119px;
    width: 270px;
    margin-right: 22px;
    float: left;
}

.type_link {
    text-decoration: none;
    color: #6f6e6e;
}
.type_link:hover {
    color: #f16d7f;
}
.range {
    margin-right: 0;
}

.filters {
    color: #6f6e6e;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 26px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.type_span, .size_span {
    padding: 0 9px;
    color: #6f6e6e;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 26px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.size_checkbox {
    margin-left: 14px;
    color: #6f6e6e;
    cursor: pointer;
}

.size-first {
    margin-left: 0;
}
.size_checkbox:focus {
    outline: none;
}

.size_checkbox {
    top: 1.5px;
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 6px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}
.size_checkbox:active, .size_checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.size_checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
.size_checkbox:checked:after {
    content: '\2714';
    font-size: 12px;
    position: absolute;
    top: -3px;
    left: 1.5px;
    color: #99a1a7;
}
.range_slider {
    background-color:  #f0f0f0;
    width: 262px;
    height: 6px;
    margin-bottom: 15px;
    margin-top: 21px;
}

/* Контейнер слайдера */
.ui-slider {
    position: relative;
}
/* Ползунок */
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 14px;   /* Задаем нужную ширину */
    height: 14px;  /* и высоту */
    display: block;
    background: #f16d7f;
    border-radius: 14px;
    cursor: pointer
}
.ui-slider .ui-slider-handle:focus {
    outline: none;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
    height: 3px; /* задаем высоту согласно дизайна */
}
/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle {
    top: -5px;
    margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
/* оформление полосы по которой ходит ползунок */
.ui-widget-content {
    border: 1px solid #D4D4D4;
    background: #fff;
}
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header {
    border: 1px solid #D4D4D4;
    background: #f16d7f;
}
/* скругление для полосы слайдера */
.ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.range_lowest-price {
    display: inline-block;
    width: 50px;
}
.range_highest-price {
    margin-left: 175px;
}


.catalog_content .sort {
    background-color: #f3f3f3;
    height: 50px;
    padding: 9px 10px;
    box-sizing: border-box;
}
.sort_select {
    position: relative;
    z-index: 2;
}
.sort_by-name {
    position: relative;
    float: left;
    padding-left: 13px;
    border-style: solid;
    border-width: 1px;
    border-color:  #ebebeb;
    box-sizing: border-box;
    background-color:  #ffffff;
    width: 153px;
    height: 30px;
    color:  #6f6e6e;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.sort_quantity {
    position: relative;
    padding-left: 13px;
    margin-left: 10px;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 119px;
    height: 30px;
    color:  #6f6e6e;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.sort_by {
    display: inline-block;
    height: 28px;
    margin-left: 16px;
    border: none;
    border-left: 1px solid #ebebeb;
    padding-left: 11px;
    color:  #6f6e6e;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    padding-right: 24px;
}
.sort_show {
    display: inline-block;
    height: 28px;
    border: none;
    margin-left: 5px;
    border-left: 1px solid #ebebeb;
    padding-left: 15px;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    padding-right: 28px;
}
.sort_by-name-i, .sort_quantity-i {
    color: #6f6e6e;
    z-index: 0;
    top: 26%;
    position: absolute;
    font-size: 14.99px;
    margin-left: 5px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
.sort_by-name-i {
    left: 87%;
}
.sort_quantity-i {
    left: 80%;
}
.sort_select  {
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance:none;
}
.sort_select:focus {
    outline: none;
}

.catalog_content .product {
    width: 848px;
}

.product .row {
    margin-top: 38px;
    float: left;
}

.row-first {
    margin-top: 45px;
}

.row-last {
    margin-top: 35px;
}

.row_item:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);

}

.row_item {
    float: left;
    width: 261px;
    height: 364px;
    margin-right: 32px;
}

.row_image-hover {
    position: absolute;
    top: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.59);
    width: 261px;
    height: 282px;
    padding: 98px 68px 0 71px;
    box-sizing: border-box;
}
.row_item:hover .row_image-hover {
    display: block;
}

.row_image {
    width: 261px;
    height: 282px;
}

.row_item {
    position: relative;
}

.row_card {
    display: block;
}

.row_card {
    display: block;
    top: 98px;
    left: 71px;
    width: 121px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    padding: 10px 8px 12px 42px;
    background: url(../images/basket.png) no-repeat;
    background-position-x: 11px;
    background-position-y: 8px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 7px;
    cursor: pointer;
}
.row_card-link {
    text-decoration: none;
}

.row_repeat {
    display: inline-block;
    width: 56px;
    height: 35px;
    top: 146px;
    left: 71px;
    background-image: url(../images/repeat.png);
    background-repeat: no-repeat;
    background-position-x: 16px;
    background-position-y: 11px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    vertical-align: top;
    cursor: pointer;
}
.row_favorite {
    display: inline-block;
    width: 56px;
    height:35px;
    top: 146px;
    left: 136px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    vertical-align: top;
    margin-left: 5px;
    cursor: pointer;
}
.row_favorite-i {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    padding: 9px 8px 12px 20px;
}

.row-item-last {
    margin-right: 0;
}
.row_price-block {
    padding: 19px 15px;
    box-sizing: border-box;
}
.row_price {
    display: block;
    margin-top: 15px;
    color: #f16d7f;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: left;
}

.product .row .reviews_name {
    display: block;
    color: #222222;
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

.product .row .basket_price {
    display: block;
    margin-top: 15px;
    color: #f16d7f;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: left;
}

.product .row .row_price-block {
    padding: 15px 15px 19px 15px;
    box-sizing: border-box;
}

.pagination-holder {
    float: left;
    margin-top: 40px;
}

.pag {
    float: left;
    padding: 10px 12px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #ebebeb;
    box-sizing: border-box;
    background-color: #ffffff;
    height: 44px;
}
.pag_pages {
    display: inline-block;
}

.pag_link {
    display: inline-block;
    margin-right: 16px;
    color: #aaaaaa;
    font-size: 14.8px;
    font-weight: 400;
    line-height: 26px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    text-decoration: none;
}
.pag_link:hover {
    color: #f16d7f;
}

.pag-first-link {
    margin-right: 9px;
}

.pag-last-link {
    margin-right: 0;
}

.pag_active {
    color: #ef5b70;
    font-size: 17px; /* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    line-height: 26px;
    padding-bottom: 1px;
}


.pag_last-link {
    margin-right: 0;
}

.pag_last-page {
    display: inline-block;
    margin-right: 9px;
}

.reviews_switcher-active {
    color: #ef5b70;
}
.button {
    display: block;
    border-radius: 3px;
    border: 1px solid #ef5b70;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #ef5b70;
    text-align: center;
    cursor: pointer;
}

.pag_show-all {

    float: right;
    margin-left: 436px;


    width: 150px;
    height: 44px;

    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 26px; /* Приближение из-за подстановки шрифтов */

}

.button:focus {
    outline: none;
}

.button:hover {
    color: #4e4e4e;
    border-color: #4e4e4e;;
}

.features {
    margin-top: 110px;
    background-color: #222224;
}
.features__content {
    background-color: #222224;
    width: 1600px;
    height: 341px;
    letter-spacing: 0.5px;
    margin: 0 auto;
}

.feature-first{
    margin-left: 254px;
}

.feature {
    margin-top: 89px;
    width: 309px;;
    float: left;
    margin-right: 81px;
    color: #fbfbfb;
    font-size: 13.97px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleX(1.0017);
}

.feature_header {
    color: #fbfbfb;
    font-size: 19.96px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    transform: scaleX(1.0017);
    letter-spacing: 0.5px;
    margin-top: 10px;
    line-height: 44px;
}