

.slider {
    background:url(../images/slider_man.png) no-repeat right #e8e8e8;
    background-position-y: -52px;
    height: 614px;
}
.slider_content {
    width: 1140px;
    margin: 0 auto;
    padding-top: 224px;
}
.promo-text {
    color: #222222;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    border-left: 12px solid #f16d7f;
    box-sizing: border-box;
    padding-left: 12px;
    line-height: 32px;
}
.promo-text_header{
    color: #222222;
    font-size: 60px;
    font-weight: 900;
    line-height: 41px;
    margin-bottom: 19px;
}
.promo-text_span {
    color:  #f16d7f;
    font-size: 40px;/* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    transform: scaleY(1.0009);
}



.sale {
    float: left;
    padding: 97px 0 79px 230px;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}

.sale_block {
    width: 560px;
    margin-right: 21px;
    text-decoration: none;
    display: block;
    color: #f16d7f;
    background-color: #dadad2;

    margin-bottom: 20px;
}

.sale_item {
    margin-top: 26px;
    max-width: 225px;
    height: 82px;
    float: left;
    background-color: #fff;
    padding: 0 19px;
    box-sizing: border-box;
}

.sale span {
    color: #222222;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
}

.sale_men {
    background-image: url(../images/men.png);
    height: 542px;
}

.sale_accs {
    background: url(../images/accs.png) no-repeat right;
    height: 261px;
}

.sale_women {

    background-image: url(../images/women.png);
    height: 261px;
}

.sale_kids {
    background-image: url(../images/kid.png);
    height: 542px;
}

.featured {
    clear: both;
    width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.featured_h2 {
    margin: 0;
    padding: 0;
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin-left: 472px;
}

.featured_p {
    margin-top: 14px;
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    margin-left: 398px;
}

.featured .items {
    margin-top: 60px;
}

.featured .items img {
    display: block;
    width: 261px;
    height: 279px;
}

.row {
    margin-top: 39px;
    float: left;
}

.row:first-child {
    margin-top: 0;
}

.row_item:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);

}
.row_price-block {
    padding: 19px 15px;
    box-sizing: border-box;
}

.row_item {
    float: left;
    width: 261px;
    height: 364px;
    margin-right: 32px;
    cursor: pointer;
}

.row > div .row_image-hover {
    position: absolute;
    top: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.59);
    width: 261px;
    height: 279px;
}
.row > div {
    position: relative;
}

.row > div:hover .row_image-hover {
    display: block;
}
.row > div:hover .row_card {
    display: block;
}


.row > div .row_card {
    position: absolute;
    display: none;
    top: 98px;
    left: 71px;
    width: 121px;
    box-sizing: border-box;
    outline: 1px solid #ffffff;
    padding: 10px 8px 12px 42px;
    background-image: url(../images/basket.png);
    background-repeat: no-repeat;
    background-position-x: 11px;
    background-position-y: 8px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
}

.featured .row div:last-child {
    margin-right: 0;
}

.featured .reviews_name {
    display: block;
    color: #222222;
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

.row_price {
    display: block;
    margin-top: 15px;
    color: #f16d7f;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: left;
}
.row_name {
    text-align: left;
    display: block;
}

.row_card {
    padding: 19px 15px;
    box-sizing: border-box;
}

.feature_all-products {
    display: block;
    background-color: #f16d7f;
    width: 212px;
    height: 48px;
    margin: 56px auto 113px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding: 13px 11px 16px 25px;
    box-sizing: border-box;
    text-decoration: none;
}

.all-products_i {
    font-size: 15px;
    font-weight: 400;
    margin-left: 5px;

}



.offer {
    width: 1139px;
    height: 529px;
    background: url("../images/feature_image.png") no-repeat left;
    background-color: #222224;
}

.offer_content {
    float: right;
    width: 373px;
    height: 529px;
    padding: 48px 43px 36px 112px;
    box-sizing: border-box;
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}

.offer_item {
    position: relative;
    margin-top: 54px;
}

.offer_item:first-child {
     margin-top: 5px;
}

.offer_item:before {
    content: "";
    height: 40px;
    width: 47px;
    display: block;
    position: absolute;
    left: -76px;
    top: -5px;
}

.offer_header {
    color: #fbfbfb;
    font-size: 20px;
/ font-weight: 700;
    text-align: left;
    margin-bottom: 13px;
    line-height: 18px;
}

.offer_content .delivery:before {
    background: url("../images/delivery.png") no-repeat;
}

.offer_content .discount:before {
    background: url("../images/discount.png") no-repeat;
}

.offer_content .quality:before {
    background: url("../images/quality.png") no-repeat;
}


