* {
    margin: 0;
    padding: 0;
    font-family: Lato;
}

.sale_left {
    float: left;
}

.sale_right {
    float: right;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.header {
    border: 1px solid #ececec;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
    height: 100px;
}

.header_content {
    padding: 24px 24px 24px 226px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header_holder {
    float: left;
    padding: 9px 0 9px 0;
    margin-left: 39px;
    box-sizing: border-box;
}

.header_browse {
    position: relative;
    display: inline-block;
    width: 87px;
    color: #222222;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    padding: 7px 7px 7px 13px;
    text-align: left;
    line-height: 21px;
    box-sizing: border-box;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border: 1px solid #e6e6e6;
    background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    height: 38px;
}

.header_browse:hover .header_drop-down {
    display: block;
}

.basket:hover .basket_drop-down {
    display: block;
}

.menu_item:hover .nav_drop-down {
    display: block;
}

.drop-down {
    position: absolute;
    display: none;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 5px 12px 20px 18px;
    border: 1px solid #e9e9e9;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
}

.nav_drop-down {
    float: left;
    top: 49px;
    width: 846px;
    left: -117px;
    z-index: 5;
    padding: 20px;
}

.basket_drop-down {
    z-index: 10;
    top: 35px;
    left: -14px;
    padding: 0 17px 21px 17px;
    width: 262px;
    height: 440px;
    box-sizing: border-box;
}

.header_drop-down {
    top: 35px;
    left: -3px;
    z-index: 5;
    width: 262px;
}

.browse_i {
    color: #838383;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: right;
    margin-left: 7px;
}

.drop-down_header {
    display: block;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 6px;
    line-height: 32px;
    text-align: left;
}

.drop-down_link {
    display: block;
    text-align: left;
    color: #4e4e4e;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 4px;
    text-decoration: none;
}

.drop-down_link:hover {
    font-weight: 600;
    color: #f16d7f;
}

.drop-down_list {
    margin-bottom: 5px;
    list-style-type: none;
}

.basket_drop-down:hover .drop-down {
    display: block;
}

.triangle {
    position: absolute;
}

.drop-down_triangle {
    font-size: 16px;
    top: -15px;
    left: 67px;
    color: #fff;
    text-shadow: 0 -1px 0 #e8e8e8;
    transform: scale(1.5, 1);
}

.search-form_input-text {
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-right: none;
    border-left: none;
    padding: 10px;
}

.header_search-form {
    width: 278px;
    height: 38px;
}

.search-form_input-text:focus {
    outline: none;
}

.search-form_button {
    padding: 11px 12px 11px 12px;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #e6e6e6;
    cursor: pointer;
}

.search-form_button:hover {
    color: #f16d7f;
}

.search-form_button:focus {
    outline: none;
}

.search-form {
    display: inline;
}

.basket {
    position: relative;
    margin-left: 470px;
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: bottom;
    background: url(../images/basket_black.png) no-repeat;
}

.basket .basket_count {
    position: absolute;
    top: -7px;
    left: 22px;
    width: 19px;
    height: 19px;
    background: url(../images/basket_item.png) no-repeat;
    background-position-x: 0px;
    background-position-y: 0px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
}

.basket:hover .basket_drop-down {
    display: inline-block;
}

.basket_triangle {
    z-index: 10;
    font-size: 11px;
    top: -10px;
    left: 26px;
    color: #fff;
    text-shadow: 0 -1px 0 #e8e8e8;
    transform: scale(1.5, 1);
}

.basket_item {
    position: relative;
    height: 85px;
    padding-bottom: 12px;
    padding-left: 85px;
    padding-top: 3px;
    border-bottom: 1px solid #e8e8e8;
    color: #222222;
    font-size: 12px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    background-position-x: -1px;
    text-transform: uppercase;
}

.purchase_1 {
    margin-top: 20px;
    background: url(../images/item_1.png) no-repeat;

}

.purchase_2 {
    margin-top: 17px;
    background: url(../images/item_2.png) no-repeat;
}

.basket_star {
    color: #e4af48;
    font-weight: 400;
    text-align: left;
    font-size: 13px;
    margin-left: 0;
    margin-top: 6px;
}

.basket_close {
    position: absolute;
    top: 35%;
    right: -1%;
    background: url(../images/close.png);
    width: 15px;
    height: 15px;
    cursor: pointer;
    outline: none;
    border: none;
}

.basket_ammount {
    color: #f16d7f;
    font-size: 12px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
}

.basket_price {
    color: #f16d7f;
    font-size: 12px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
}

.basket_total {
    margin-top: 18px;
    text-transform: uppercase;
}

.basket_total {
    color: #222222;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
}

.basket_total-span {
    display: block;
    width: 50%;
    text-align: right;
    margin-right: -2px;
}

.basket_button {
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    width: 225px;
    height: 50px;
    padding-top: 12px;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
}

.basket_checkout {
    margin-top: 30px;
    margin-left: 1px;
    border: 1px solid #f16d7f;
    color: #f16d7f;
}

.basket_go-cart {
    margin-top: 11px;
    margin-left: 1px;
    background-color: #ffffff;
    color: #4a494a;
    border: 1px solid #e6e6e6;
}

.header_my-account {
    position: relative;
    float: left;
    background: #f16d7f;
    display: inline-block;
    width: 130px;
    height: 38px;
    margin: 6px 0 0 26px;
    line-height: 35px;
    text-align: left;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    padding: 1px 13px 7px 18px;
    box-sizing: border-box;
    cursor: pointer;
}

.header_my-account:hover {
    color: #f16d7f;
    background-color: #fff;
    outline: 1px solid #f16d7f;
}

.header_my-account-i {
    padding-left: 8px;
    margin-left: 2px;
}

.nav {
    position: relative;
    background-color: #ffffff;
    height: 51px;
}

.menu_item:hover .basket_drop-down {
    display: block;
}

.menu_triangle {
    top: -22px;
    left: 147px;
    color: #fff;
    text-shadow: 0 -1px 0 #e8e8e8;
    transform: scale(1.5, 1);
}

.menu_column {
    float: left;
    width: 33.33%;
}

.menu-list_link {
    display: block;
    text-decoration: none;
    color: #646464;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 34px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    transform: scaleX(1.0015);
}

.menu_item {
    display: block;
    text-align: left;
    color: #4e4e4e;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    padding-left: 4px;
}

.menu__item_current {
    border-bottom: 3px solid #f16d7f;
}

.menu-list_link:hover {
    font-weight: 600;
    color: #f16d7f;
}

.menu_header {
    display: block;
    width: 80%;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 4px;
    line-height: 32px;
    text-align: left;
}

.menu_promo {
    float: left;
    width: 33.33%;
    margin-top: 12px;
    display: block;
    height: 118px;
    background: url("../images/promo.png") no-repeat;
    color: #ffffff;
    font-size: 22px; /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 28px; /* Приближение из-за подстановки шрифтов */
    text-align: right;
    padding-right: 43px;
    padding-top: 55px;
    box-sizing: border-box;
}

.menu {
    text-align: left;
    padding-left: 441px;
    box-sizing: border-box;
}

.menu-list {
    width: 80%;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
}

.menu_item {
    display: inline-block;
    position: relative;
}

.menu-list_item {
    list-style-type: none;
}

.menu_link {
    display: inline-block;
    height: 51px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0px 21px;
}

.menu-list_link:hover {
    color: #f16d7f;
    font-weight: 600;
}

.subscribe {
    background: url(../images/sub_bg.png);
    width: 1600px;
    height: 438px;
}
.index-margin { margin-top: 97px; }

.subscribe_bg {
    position: absolute;
    content: " ";
    z-index: 0;
    background-color: rgba(242, 242, 242, 0.5);
    width: 1600px;
    height: 438px;
}

.reviews, .sub-form {
    position: relative;
    width: 50%;
    float: left;
}

.reviews_text-block {
    position: relative;
    padding: 117px 73px 0 342px;
    box-sizing: border-box;
    color: #000;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-style: italic;
    line-height: 26px; /* Приближение из-за подстановки шрифтов */
    text-align: left;

}

.reviews_text-block:before {
    position: absolute;
    content: " ";
    background: url(../images/avatar.png);
    width: 83px;
    height: 83px;
    left: 230px;
    top: 111px;
    display: inline-block;
}

.reviews_credits .reviews_name {
    color: #f16d7f;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 17px;
    text-align: left;
}

.reviews_credits {
    margin-top: 12px;
    color: #222224;
    font-size: 12px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 14px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.reviews_switcher {
    margin-top: 39px;
    margin-left: 2px;
}

.reviews_switcher div {
    float: left;
    background-color: #d6d6d6;
    width: 38px;
    height: 4px;
    margin-right: 13px;
}

.reviews_switcher .reviews_switcher-active {
    background-color: #f16d7f;
}

.sub-form .sub-form_text-block {
    float: left;
    padding: 143px 0 0 144px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
}

.sub-form .sub-form_text-block h3 {
    text-transform: uppercase;
    font-size: 24px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.subscribe-section {
    margin-top: 35px;
    margin-left: 92px;
    box-sizing: border-box;
    display: block;
}

.sub-form_text-input {
    display: inline-block;
    padding: 18px 0 18px 28px;
    border: none;
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
    width: 282px;
    color: rgba(34, 34, 36, 0.87);
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    box-sizing: border-box;
    height: 46px;

}

.sub-form_text-input:focus {
    outline: none;
}

.sub-form_submit:focus {
    outline: none;
}

.sub-form_submit {
    display: inline-block;
    box-sizing: border-box;
    width: 104px;
    background-color: #f16d7f;
    padding: 18px 23px 18px 0;
    border-radius: 0 23px 23px 0;
    text-align: right;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    height: 46px;
    line-height: 10px;
    cursor: pointer;

}

.info {
    margin: 109px 0 0 228px;
}

.brand-info {
    width: 427px;
    float: left;
}

.brand-logo {
    display: block;
    height: 51px;
    line-height: 57px;
    background: url(../images/logo.png) no-repeat;
    padding-left: 68px;
    color: #3d3d40;
    font-size: 27px;
    font-weight: 300;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}

.brand-logo_span {
    color: #f16d7f;
    font-size: 27px;
    font-weight: 900;
    line-height: 32px;
    transform: scaleX(1.003);
}

.brand-info_text {
    margin-top: 21px;
    color: #898989;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.footer-menu {
    float: left;
    margin-left: 65px;
}

.footer-menu_column {
    width: 228px;
    float: left;
}

.footer-menu_item {
    display: block;
}

.footer-menu_link:hover {
    color: #f16d7f;
    font-weight: 600;
}

.footer-menu_list {
    margin-top: 29px;
}

.footer-menu_header {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    padding-top: 11px;
    text-transform: uppercase;
}

.footer-menu_link {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #898989;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 42px;
}

.footer-main {
    margin: 81px 0 50px 0;
    height: 79px;
    background-color: #e6e6e6;
}

.footer-main_content {
    width: 1140px;
    margin: 0 auto;
}

.footer-main_rights {
    float: left;
    color: #7a7a7a;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    padding: 28px 0;
    text-align: right;
}

.footer-main_social-buttons {
    float: right;
    margin-top: 24px;
    margin-right: -14px;
}

.footer-main_item {
    display: inline-block;
    background-color: #ffffff;
    width: 32px;
    height: 32px;
    margin-right: 4.5px;
}

.footer-main_link {
    display: inline-block;
    padding: 7px 0 0 8px;
    height: 32px;
    width: 32px;
    text-decoration: none;
    color: #b2b2b2;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    box-sizing: border-box;
}

.footer-main_list:last-child {
    margin-right: 14px;
}

.footer-main_item:hover {
    background-color: #f16d7f;
    color: #f7f7f8;
    transition: 0.3s;
}

.footer-main_link:hover {
    color: #f7f7f8;
    transition: 0.3s;
}

.clr {
    clear: both;
}